open_clip_training/openclip_data/*
open_clip_training/src/logs/*
*__pycache__*
datasets/*/*.json
datasets/**/*.json
datasets/*/*.png
datasets/**/*.png
datasets/*/*.jpg
datasets/**/*.jpg
wandb/
output/
